* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	counter-reset: list;
}
.item {
	background-color: #B2F6FA;
	font-size: 22px;
	font-weight: 700;
	border: 2px solid #FAE98B;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.item:nth-child(even) {
	background-color: #9CA2F6;
}
.item::before {
	content: counter(list);
	counter-increment: list;
}
.box {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 10px 10px;
	grid-template-areas: 
	'header header'
	'aside content' 
	'footer footer';
	height: 100vh; 
}
.header {
	grid-area: header;
}
.aside {
	grid-area: aside;
}
.content {
	grid-area: content;
}
.footer {
	grid-area: footer;
}
